:root{
    --color-coral: #FF8370;
    --color-blue-green: #00B1B0;
    --color-freesia: #FEC84D;
    --color-fuchsia: #E42256;

    --color-1: var(--color-blue-green);
    --color-2: var(--color-coral);
    --color-3: var(--color-freesia);
    --color-4: var(--color-fuchsia);
    --color-1-contrast: white;
    --color-2-contrast: white;
    --color-3-contrast: white;
    --color-4-contrast: white;
}
